<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav navbar-center">
      <li class="nav-item home">
        <a class="nav-link " (click)="homeClick()" [ngClass]="{'active': onPage('home')}">Home</a>
      </li>
      <li class="nav-item blog">
        <a class="nav-link" (click)="blogClick()" [ngClass]="{'active': onPage('blog')}">Blog</a>
      </li>
      <li class="nav-item about">
        <a class="nav-link" (click)="aboutClick()" [ngClass]="{'active': onPage('about')}">About</a>
      </li>
      <li class="nav-item post" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="postClick()" [ngClass]="{'active': onPage('post')}">Post</a>
      </li>
    </ul>
  </div>
  <div *ngIf="!isLoggedIn">
    <form (keydown)="keyDownFunction($event)">
      <input #password placeholder="password" class="form-control form-control-sm" type="password"
        [(ngModel)]="loginData.password" name="password" />
    </form>
  </div>
  <div *ngIf="isLoggedIn">
    <button (click)="logout()">Log Out</button>
  </div>
</nav>
<router-outlet></router-outlet>
<!--footer class="footer w-100" *ngIf="!isLoggedIn">
  <nav class="navbar navbar-expand-lg bg-transparent w-100 justify-content-center">
    <form (keydown)="keyDownFunction($event)">
      <input placeholder="username" class="form-control form-control-sm" type="text" [(ngModel)]="loginData.username"
        name="username" />
    </form>
    <form (keydown)="keyDownFunction($event)">
      <input #password placeholder="password" class="form-control form-control-sm" type="password"
        [(ngModel)]="loginData.password" name="password" />
    </form>
  </nav>
</footer>
-->