.gifContainer {
    width: 100%;
    text-align: center;
}
.shadow {
    box-shadow: 2px 2px 5px black;
    border-radius: 5px; 
}
.header {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }